html{
    background: #e9e9e9;
}



body{
    white-space: 25px;
    object-position: center;
    align-content: center;
    color: #545454;
    margin: 0 auto;
    line-height: 1.5;
    background: #fff;
    font-size: 16px;
    max-width: 1000px;
    padding: 2em 2em 4em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height:inherit;
}

nav {
    border: 10px;
    text-decoration: none;
    text-decoration-color: #222;
    object-position: center;
    color: #545454;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button{
    color: #eee;
    background-color: firebrick;
    width: 15%;
    display: inline-grid;
    float: left;
}
.news-wrapper{
    display: inline-block;
}
.newsa1{
    float: right;
}
.newsa2{
    float: right;
}
img{
    max-width: 20%;
    object-position:left;

}